.searchbutton {
    border-radius: 15px;
    padding: .5rem;
    background-color: rgb(104, 14, 146);
    color: aliceblue;
    width: auto;
    margin-top: 2.5vh;
    box-shadow: 2px 2px rgba(0, 0, 0, .10);
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem 4rem;
}

.searchbutton:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
}